<%
    var fields = Fields.split("|");
    var nome = "";
    var tipo = "";
    var mask = "";
    var hidden = "";    
%>
@@model <%=Projeto%>.Models.Context<%=ObjContext%>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"><%=Area%></h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc"><%=Controller%></span>
        
        <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
            <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
            <span class="kt-input-icon__icon kt-input-icon__icon--right">
                <span><i class="flaticon2-search-1"></i></span>
            </span>
        </div>
    </div>    
</div>
<div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-md-12">

                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Detalhes:
                            </h3>
                        </div>
                    </div>    
                    <div class="kt-portlet__body">
                        
                        <dl class="row">
                            <% for(var i = 0; i < fields.length; i++){ %>                                                    
                            <%
                                nome = fields[i].split(",")[0]; tipo = fields[i].split(",")[1]; mask = fields[i].split(",")[2];hidden = fields[i].split(",")[3];
                            %>
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.<%=nome%>)
                            </dt>
                            <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.<%=nome%>)
                            </dd>
                            <%}%>
                        </dl>				
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                           <a href="@Url.Action("Index")" class="btn btn-danger">
								<i class="fa fa-arrow-left"></i> Voltar
                            </a>
                            <a href="@Url.Action("Edit", new{id = @Model.<%=fields[0].split(",")[0]%> })" class="btn btn-warning">
								<i class="fa fa-edit"></i> Editar
                            </a>
                        </div>
                    </div>   
                </div>
                <!--end::Portlet-->
            </div>
        </div>   
     </div>
</div>